# Включаем все конфиги из директории conf.d
include /etc/nginx/conf.d/dockers/*.conf;

server {
    listen ${NGINX_PORT} default_server;
    server_name ${NGINX_HOST};

    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
    }

    location /files {
        alias /var/www/files;
    }
}
